---
#Setup monit
- name: Install monit - Debian
  apt:
    name: "{{ monit_debian_packages }}"
    state: latest
    force: yes
  notify: Restart monit
  when: ansible_facts["os_family"] == "Debian"

- name: Install monit - Archlinux
  pacman:
    state: latest
    name: "{{ monit_arch_packages }}"
  when: ansible_facts["os_family"] == "Archlinux"

- name: Install monit - Centos
  yum:
    state: latest
    name: "{{ monit_centos_packages }}"
  when: ansible_facts["os_family"] == "RedHat"

  # name: Set workdir - Ubuntu
- set_fact:
    monit_work_dir: "/var/lib/monit"
  when: ansible_os_family == "Debian"

- name: Configure monitrc
  template:
    backup: yes
    mode: 0600
    owner: root
    group: root
    src: "monit_config"
    dest: "{{ monit_main_config}}"
  notify: Restart monit

- name: Make monit conf directory
  file:
    path: "{{ monit_conf_dir }}"
    state: directory

- name: Make monit work directory
  file:
    path: "{{ monit_work_dir }}"
    state: directory

- name: Monitor basics
  template:
    src: "basic/{{ item }}"
    dest: "{{ monit_conf_dir }}/{{ item }}"
    owner: root
    group: root
  with_items: "{{ monit_basic_configs|default('') }}"
  when: monit_basic_configs is defined
  notify: Restart monit

- name: Monitor custom
  template:
    src: "{{ conf_dir }}/etc/monit/monit.d/{{ item }}"
    dest: "{{ monit_conf_dir }}/{{ item }}"
    owner: root
    group: root
  with_items: "{{ monit_custom_configs|default('') }}"
  when: monit_custom_configs is defined
  notify: Restart monit

- name: Generate monit ssl cert
  command: openssl req -new -x509 -days 365 -nodes -newkey rsa:4096 -keyout {{ monit_mmonit_pemfile}} -out {{ monit_mmonit_pemfile }} -subj "/C={{ monit_cert_C }}/ST={{ monit_cert_ST }}/L={{ monit_cert_L }}/O={{ monit_cert_O }}/OU={{ monit_cert_OU }}/CN={{ ansible_facts["hostname"] }}"

- name: Set monit SSL cert permissions
  file:
    mode: 0700
    owner: root
    group: root
    path: /opt/certs/monit.pem

- name: Monitor host watch
  template:
    src: "basic/servers"
    dest: "{{ monit_conf_dir }}/servers"
    owner: root
    group: root
    mode: 0600
  notify: Restart monit
  when: monit_watched_hosts is defined

- name: Monitor website watch
  template:
    src: "basic/websites"
    dest: "{{ monit_conf_dir }}/websites"
    owner: root
    group: root
    mode: 0600
  notify: Restart monit
  when: monit_watched_websites is defined

- ansible.builtin.include_tasks: twilio.yml
  when: "{{ monit_twilio }}"

- name: Start monit
  service:
    name: monit
    state: started
    enabled: yes
